{% extends "base.html.twig" %}

{% block title %}
    Notebook | Inscription d'un contact
{% endblock %}

{% block body %}
    <h1 class="display-4 text-center my-5">Inscription d'un contact</h1>
    
    {{ form_start(form) }}
    {{ form_row(form.username, {'label':false, 'attr': {'placeholder': "Nom d'utilisateur", 'class': 'col-6 text-center mx-auto'}}) }}
    {{ form_row(form.password, {'label':false, 'attr': {'placeholder': 'Mot de passe', 'class': 'col-6 text-center mx-auto'}}) }}
    {{ form_row(form.confirm_password, {'label':false, 'attr': {'placeholder ': 'Confirmation du mot de passe', 'class': 'col-6 text-center mx-auto'}}) }}  
    {{ form_row(form.lastname, {'label':false, 'attr': {'placeholder': 'Nom', 'class': 'col-6 text-center mx-auto'}}) }}
    {{ form_row(form.firstname, {'label':false, 'attr': {'placeholder': 'Prénom', 'class': 'col-6 text-center mx-auto'}}) }}
    {{ form_row(form.mail, {'label':false, 'attr': {'placeholder': 'Email', 'class': 'col-6 text-center mx-auto'}}) }}
    {{ form_row(form.phone, {'label':false, 'attr': {'placeholder': 'Numéro de téléphone', 'class': 'col-6 text-center mx-auto'}}) }}
    {{ form_row(form.address, {'label':false, 'attr': {'placeholder': 'Adresse', 'class': 'col-6 text-center mx-auto'}}) }}
    <div class="d-flex justify-content-center my-5">
        <button type="submit" class="btn btn-primary col-2">Nouveau contact</button> 
    </div>
    {{ form_end(form) }}

{% endblock %}